doctype 5
html
  head
    title= title 
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body   
    .container
      block content
    block footer
      script(src='/socket.io/socket.io.js')
      script(type='text/javascript'  src='/javascripts/auto/analizer.js')
      script(type='text/javascript'  src='/javascripts/helpers/domhelper.js')
      script(type='text/javascript'  src='/javascripts/vars/applays.js')
      script(type='text/javascript'  src='/javascripts/vars/apgames.js')
      script(type='text/javascript'  src='/javascripts/vars/appnames.js')
      script(type='text/javascript'  src='/javascripts/chess/partidas.js')
      script(type='text/javascript'  src='/javascripts/common/common.js')
      script(type='text/javascript'  src='/javascripts/common/guid.js')
      script(type='text/javascript'  src='/javascripts/common/sgcontrol.js')
      script(type='text/javascript'  src='/javascripts/common/panel.js')
      script(type='text/javascript'  src='/javascripts/chess/paneljugadas.js')
      script(type='text/javascript'  src='/javascripts/common/flier.js')
      script(type='text/javascript'  src='/javascripts/common/fliercontrol.js')
      script(type='text/javascript'  src='/javascripts/chess/apertura.js')
      script(type='text/javascript'  src='/javascripts/chess/aperturas.js')
      script(type='text/javascript'  src='/javascripts/chess/siciliana.js')
      script(type='text/javascript'  src='/javascripts/room/baseroom.js')
      script(type='text/javascript'  src='/javascripts/room/localroom.js')
      script(type='text/javascript'  src='/javascripts/room/room.js')
      script(type='text/javascript'  src='/javascripts/room/rooms.js')
      script(type='text/javascript'  src='/javascripts/chess/pieza.js')
      script(type='text/javascript'  src='/javascripts/chess/player.js')
      script(type='text/javascript'  src='/javascripts/chess/chess.js')
      script(type='text/javascript'  src='/javascripts/chess/basechess.js')
      script(type='text/javascript'  src='/javascripts/chess/localchess.js')
      script(type='text/javascript'  src='/javascripts/chess/tablerito.js')
      script(type='text/javascript'  src='/javascripts/chess/onechess.js')
      script(type='text/javascript'  src='/javascripts/chess/tablero.js')
      script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
      script(type='text/javascript' src='/javascripts/functions.js')