#title{
	text-align: center;
}

.panel-heading{
	text-align: center;
	height: 45px;
}

.head{
	margin-top: 10px;
}

#containerMessages,#containerUsers{
	height: 500px;
	overflow-y: scroll;
	border: 1px solid #eee;
	margin-bottom: 15px;
	background: #444;
}

.message{
	padding: 5px 2px;
	border: 1px solid #eee;
	border-radius: 6px;
}

#formModal{
	top: 15%;
}

#loginBtn{
	width: 100%;
}

#formLogin{
	margin-top: 15px;
}

.errorMsg{
	height: 50px;
	text-align: center;
	margin-top: 10px;
}

.info{
	height: 30px;
	font-size: 14px;
	padding: 3px 10px;
	color: #3a87ad;
	background-color: #d9edf7;
	border: 1px solid #bce8f1;
	border-radius: 6px;
}

.disconnect{
	height: 30px;
	font-size: 14px;
	padding: 3px 10px;
	color: #3a87ad;
	background-color: #d9edf7;
	border: 1px solid #bce8f1;
	border-radius: 6px;
}
#chatMsgs p,#containerUsers p{
	border-radius: 8px;
	padding: 4px;
}




div.row:odd > div.col{
  background-color:blue;
}
div.row {
  clear:both;
}
div.col {
  float:left;
  height:50px;
  width:50px;
  border:solid 1px black;
  border-collapse:collapse;
}
div.col[color="0"] {
  background-color:white;
}

div.col[color="1"] {
  background-color:#440;
}


.btn-block.btn-primary.unirse {
  display:none;
}

.btn-block.btn-primary.unirse[fuerza_display="1"] {
	display:block;
}

div.unirse-container{
	height:50px;
  width:50px;
  border:solid 1px red;
  border-collapse:collapse;
	position:fixed;
	top:40px;
	left:40px;
}

div.pieza{
	background-color:transparent;
	position:absolute;
	height:50px;
	width:50;
	border: solid 0px;
}

div.pieza>img{
	height:50px;
	width:50px;
	*margin-top:40px;
}

div.container.chess{
	position:relative;
	float:left;
	display:block;
	padding:0px!important;
}

div.arriba{
  position: absolute;
  left:450px;
  top:20px;
}


div.abajo{
  position: absolute;
  left:450px;
  top:320px;
}

div.container.chess[active="blancas"] div[pcolor="blancas"]>img:hover{
  border:solid yellow;
}
div.container.chess[active="negras"] div[pcolor="negras"]>img:hover{
  border:solid yellow;
}

div.capturer[active="1"]{
	z-index:10000;
}
div.capturer{
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	height:auto;
	width:auto;
	z-index:-1;
	background-color:transparent;
}

div.jugadas{
	position:absolute;
	left:450px;
	top:70px;
	height:230px;
	width:150px;
}
div.jugadas>div:first-child {
	float:left;
	width:30px;
}

div.jugadas>div:first-child +div{
	float:left;
	width:60px;
}

div.jugadas>div:first-child +div+div{
	float:left;
	width:60px;
}
div.jugadas>div{
	border-right:solid 1px black;
	height:100%;
}

div.chat-container{
	border:solid green;
	height:300px;
	overflow:auto;
}


div.rooms-container{
	border:solid green;
	position:fixed;
	bottom:0px;
	right:0px;
	width:500px;
	background-color:white;
	height:300px;
	overflow:auto;
	z-index:1;
} 

button.normal50{
	width:50px!important;
}

button.normal150{
	width:150px!important;
}

div.nologin{
	display:none;
}
div.room[showMode="0"] {
	display:none;
}
div.room[showMode="1"] {
	display:block;
}

div.room {
	display:none;
	height : 80%;
	top : 10%;
	left : 10%;
	position : fixed;
	z-index:2;
	border : solid black;
	background-color:gray;	
}

div.room>div.content>div.content-block{
	height:100%;
	display:block;
	position:relative;
}

div.room>div.content{
	float:left;
	height:400px;
	display:block;
}

div.room>div.content>div.content-block>button.abajo{
	position:absolute;
	bottom:10px;
}

div.button.unir{
	z-index.3px;
}
input.room-panel{
	width:50px;
	float:left;
	clear:left;
}

div.container.chess>div:first-child{
	display:none;
}



span.NEGRAS {
	position:absolute;
	bottom:45px;
	left:4px;
}

div.row-room-list>div>span{
	margin-left:5px;
}


div.row-room-list>div:first-child>span:first-child+span,
div.row-room-list>div:first-child>span:first-child+span+span+span{
	width:70px;
	border:solid 1px black;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	padding:1px 10px;
	background-image: -webkit-linear-gradient(bottom, rgb(106,162,217) 5%, rgb(166,204,222) 50%, rgb(214,224,235) 94%);

}

div.row-room-list>div:first-child>span.disabled{
	color:#ccc;
	background-image: -webkit-linear-gradient(bottom, rgb(147, 153, 159) 5%, rgb(85, 100, 107) 50%, rgb(156, 158, 160) 94%)!important;
}

div.row-room-list>div:first-child>span:first-child{
	border-left:solid 0px!important;
	border-top:solid 0px!important;
}
div.row-room-list{
	border:solid 1px black;
}
div.row-room-list>div:first-child+div>span:first-child{
	text-align:right;
	display:inline-block;
	width:40%;
	border-right:solid 1px black;
}
div.row-room-list>div:first-child+div>span:first-child+span{
	text-align:left;
	display:inline-block;
	width:40%;
}
div.row-room-list>div:first-child>span{
	border:solid 1px black;
	border-bottom:solid 0px;
}
div.row-room-list>div>span:first-child+span+span,
 div.row-room-list>div>span:first-child+span+span+span+span{
	margin-left:5px;
	width:100px;
	display:inline-block;
}

div.pieza[state="0"]{
	display:none;
}
div.btn-comenzar[state="1"]{
	display:block;
}
div.btn-comenzar{
	display:none;
	
	text-align:center;
	background-image: -webkit-linear-gradient(bottom, rgb(106,162,217) 5%, rgb(166,204,222) 50%, rgb(214,224,235) 94%);
	border:solid 1px black;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	position:fixed;
	top:50%;
	left:40%;
	width:20%;
}